.my-custom-scrollbar {
	position: relative;
	height: 230px;
	width: 430px;
	overflow: auto;
}

.my-custom-scrollbar::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.my-custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
.my-custom-scrollbar::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.table-wrapper-scroll-y {
	display: block;
}